*{
    
font-family: 'MedievalSharp', cursive;


}


.imagen {
    width: 250px;
    height: 250px;
    padding-top: 50px;
    
    
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
}

h2 {
    font-size: 2em;
    background-color: grey;
    
    
}
h3 {
    font-size: 1.7em;
    
}
h4 {
    font-size: 1.5em;
}    


.container{
    display: flex;
    margin: 25px;
    
    
    
    

   
    
    

}

.gandalf {   
    
    background-color: grey;
    padding: 50px;
    color: aliceblue;
    border: 2px solid black;
    
    
    
    
}

.historial-academico {
    
    background-color: whitesmoke;
    padding: 40px;
    border: 2px solid black;
    
}
.mago {
    padding-bottom: 20px;
    border-bottom: 4px solid whitesmoke;
}