/*CSS========GENERAL*/


*{
    
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-family: 'Space Mono', monospace;
    
}

body {
    
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 88%);
 margin: 0;

    
}

h1 {font-size: 1.5em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
ul {list-style: none;}


/*CSS==========GENERAL*/

/*CSS==========INDEX*/
.boton {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    color:aliceblue;
    background-color: blue;
    transition: transform .2s;    

}

.boton:hover {
    background-color: white;
    color: blue;     
    cursor: pointer;
    
}
.container {    
    max-width: 1500px;
    
}

header {
    padding-bottom: 2px solid aliceblue;
}

header .logo {
    margin: 0;
    padding: 30px 30px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    color: white;    
    
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

header a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

header a:hover {
    color: blue;
    
     
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90vh;    
    background-size: cover;
    background-position: center center;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    )
    ,url("../assets/programar1.jpg");
    
    
}
.hero .name {
    background: none;
    color: whitesmoke;
    text-shadow: 3px 3px 7px black;
}

.hero p {
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 30px;
}

/*CSS==========INDEX*/

/*CSS==========INDEX + PORTFOLIO*/
.container2 {
    text-align: center;    
    margin: auto;
    padding: 40px;
    
}

.p {
    color: white;
    text-shadow: 3px 3px 7px black;
}


.taller {
    
    color: white;
    text-shadow: 1px 1px 5px black;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 300px;
    padding-top: 50px;
    margin: 20px;
    transition: transform .5s;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    )
    ,url("../assets/taller.jpg");   
    
    
}

.taller:hover {
    transform: scale(1.1)
}


.proy {
    
    border-radius: 10px;
    margin: auto;
         
    
}

.curriculum {    
    color:white;
    text-shadow: 1px 1px 5px black;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 300px;
    padding-top: 50px;
    margin: 20px;
    transition: transform .5s;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    )
    ,url("../assets/curriculum.png");       
    
}

.curriculum:hover{
    transform: scale(1.1)
}

.react {
    
    color: white;
    text-shadow: 1px 1px 5px black;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 300px;
    padding-top: 50px;
    margin: 20px;
    transition: transform .3s;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    )
    ,url("../assets/peliculas.jpg");          
    
    
}

.react:hover {
    transform: scale(1.1)
}

.juegos {    
    color: white;
    text-shadow: 1px 1px 5px black;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 300px;
    padding-top: 50px;
    margin: 20px;
    transition: transform .5s; 
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    )
    ,url("../assets/juegos.jpg");      
        
}

.juegos:hover {
    transform: scale(1.1)
}

.container3 {
    display: flex;
    align-items: center;
    padding: 40px;
    flex-direction: column;
    border-top: 2px solid blue;
    color: white;     
}

i {
    height: 30px;
    width: 30px;
    font-size:25px;
    color: white;
}

i:hover {
    color: blue;
}

/*CSS==========INDEX + PORTFOLIO*/

/* CSS======CONTACTO*/

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding:1.8em;
    color: white;
    

}
.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: blue;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 white;
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    margin: 0;
    padding: 1em;

}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid blue;
    outline: none;
    color: white;
    
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .bloque {    
    grid-column: 1/3 ;
}

.contact-form form button:hover {
    color: blue;
    background:white;
}
.contact-info h4,
.contact-info ul,
.contact-info h4 {
    text-align: center;
    margin: 0 0 1 rem 0;

}
/*CSS=======CONTACTO*/

/*CSS========BIOGRAFIA*/

.curriculum-personal {
    
    justify-content: center;
    
    
}

.personal {   
    
    background-color: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 88%);
    ;
    padding: 50px;
    color: aliceblue;
    border: 2px solid black;
    justify-content: center;
    box-shadow: 0 0 20px 0 white;         
    
    
}

.historial-academico {
    
    background-color: whitesmoke;
    padding: 40px;
    border: 2px solid black;
    box-shadow: 0 0 20px 0 white;    
}

.perfil {
    padding-bottom: 20px;
    border-bottom: 4px solid whitesmoke;
}

.imagen-adrian {
    border-radius: 50%;
    width: 220px; 
    height: 250px
}
.hero p {
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 30px;
}

/*CSS========BIOGRAFIA*/

/*CSS========SCREEN TABLET*/

@media screen and (min-width: 768px ){
     .proy  {
        display: grid;
        grid-template-columns: 1fr 1fr;             
                                    
    }

    header nav {
        display: flex;
        flex-direction: row;


    }

    

}
/*CSS========SCREEN TABLET*/

/*CSS========SCREEN PC*/

@media screen and (min-width: 992px ){
    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30px;
        
    }

    

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }
    .container2 {
        padding: 20px;
        margin: auto;
    }

     .container2 .proy {
        display: flex;
        justify-content: space-between;
        padding: 20px;        
        width: 90%;                
              
    }    
    
    .proy .taller {
        padding: 40px;
        margin: 30px;
    }

    .proy .curriculum {
        padding: 40px;
        margin: 30px;
    }

    .proy .react {
        padding: 40px;
        margin: 30px;
    }

    .proy .juegos {
        padding: 40px;
        margin: 30px;
    }

    .container3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }   
    
    
    .content {
        max-width: 1170px;
        margin-left: 200px;
        margin-right: 200px;
        padding:1.8em;       

    }

    .logo {
        text-align: center;
        font-size: 3em;
    }

    .logo span {
        color: blue;
    }

    .contact-wrapper {
        box-shadow: 0 0 20px 0 white;
    }

    .curriculum-personal {
        display: flex;
        justify-content: center;
        
        
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        
          
    }
    .contact-info {
        border-left: 2px solid blue;
    }
        

    .contact-info i {
        padding: 40px;
        
    }

    .contact-info h4 {
        padding-top: 30px;
    }  
    
} 
/*CSS========SCREEN PC */
