*{
    color: aliceblue;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-family: 'Space Mono', monospace;      
}

h1 {font-size: 1.5em;}
h2 {font-size: 2.5em;}

header {
    border-bottom: 2px solid aliceblue;
    display: flex;
    justify-items: center;
    
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: auto;
    
    
    
}

footer {
    padding-top: 1vh;
    display: flex;
    justify-items: center;
    border-top: 2px solid aliceblue; ;
}

.container {
    max-width: 1400px; 
    margin: auto;   
}

header.logo {
    margin: 0;  
    padding: 25px 30px; 
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#baner  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 700px;
    margin: auto;


}

