* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja {
    background-color: red;
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.container div {
    height: 500px;
    width: 500px;
    border: 2px solid blue;

}
